<ul class="navbar-nav text-uppercase ml-auto" style="display: block;">

    <li class="nav-item" style="float: left; margin-right:20px">
        <a class="nav-link" href="/admin">Admin</a>
    </li>
    <li class="nav-item" style="float: left; margin-right:20px">
        <a class="nav-link" href="/admin/categories">Categories</a>
    </li>
    <li class="nav-item" style="float: left; margin-right:20px">
        <a class="nav-link" href="/admin/blogs">Admin Blogs</a>
    </li>
    <li class="nav-item" style="float: left; margin-right:20px">
        <a class="nav-link" href="/admin/users">Users</a>
    </li>
</ul>